{% extends 'app.html' %}

{% block content %}
    
    <h2 class="text-danger my-5 text-center display-4">Editar Album</h2>

    <div class="d-flex justify-content-center">
        <div class="container col-md-4 d-flex justify-content-center text-center">
            <form action="/actualizarAlbum" method="POST">
        
                <input hidden value=" {{album.0}}" name="txtId">
                
                <div class="mb-3">
                    <label class="mb-1" for="">Titulo</label>
                    <input type="text" name="txtTitulo" value="{{album.1}}" class="form-control text-center"> 
                </div>

                <div class="mb-3">
                    <label class="mb-1" for="">Artista</label>
                    <input type="text" name="txtArtista"  value="{{album.2}}" class="form-control text-center">
                </div>

                <div class="mb-3">
                    <label class="mb-1" for="">Año</label>
                    <input type="number" min="1000" max="3000" step="1" name="txtYear"  value="{{album[3]}}" class="form-control text-center"/>
                </div>
        
                <button type="submit" class="btn btn-info w-100">Guardar Cambios</button>
        
            </form>
        </div>
    </div>

{% endblock %}