{% extends 'app.html'%}

{% block content %}

    <!-- Mensaje con Jinja -->
    {%   with msg= get_flashed_messages()   %}

        {%   if msg     %}

            {%   for mensaje in msg %}

                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>{{mensaje}}</strong> 
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>

            {%   endfor     %}

        {%   endif     %}

    {%   endwith     %}    
    
    <h2 class="text-danger my-5 text-center display-4">Gestión de albums</h2>

    <div class="row">
        <div class="col-md-5">
            <form action="/guardarAlbum" method="POST">
        
                <label for="">Titulo</label>
                <input type="text" name="txtTitulo"> 
        
                <br>
                <br>
                
                <label for="">Artista</label>
                <input type="text" name="txtArtista">
        
                <br>
                <br>
        
                <label for="">Año</label>
                <input type="number" min="1000" max="3000" step="1" name="txtYear"/>
        
                <br>
                <br>
        
                <button type="submit">Guardar Album</button>
            </form>
        </div>
        <div class="col-md-7">
            <table>
                <thead> 
                    <tr>
                        <td> Id </td>
                        <td > Album </td>
                        <td> Artista </td>
                        <td> Año </td>
                        <td> Operaciones </td>
                    </tr>
                </thead>
        
                <tbody>
                    {%for album in albums%}
                        <tr>
                            <td> {{ album.0}} </td>
                            <td> {{ album.1}} </td>
                            <td> {{ album.2}} </td>
                            <td> {{ album.3}} </td>
                            <td> <a href="/editarAlbum/{{album.0}}">Editar</a> </td>
                            <td> 
                                <a  href="" class="text-primary" data-bs-toggle="modal" data-bs-target="#{{album[0]}}">
                                    Borrar
                                </a>
                            </td>
        
                            <div class="modal fade" id="{{album[0]}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">  
                                    <div class="modal-content">
                                    <form action="/borrarAlbum" method="POST">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">Eliminar Registro</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            ¿Estás seguro de querer eliminar el album {{album[1]}} ?
        
                                            <input name="txtIdAlbum" type="number" value="{{album[0]}}" hidden>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-success" data-bs-dismiss="modal">Cancelar</button>
                                            <button type="submit" class="btn btn-danger">Eliminar</button>
                                        </div>
                                    </form>
                                    </div>
                                </div>
                            </div>
        
                        </tr>
        
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </div>





{% endblock %}