<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario Albums</title>
</head>
<body>

    <!-- Mensaje con Jinja -->
    {%   with msg= get_flashed_messages()   %}

        {%   if msg     %}

            {%   for mensaje in msg %}

                <h1>{{mensaje}}</h1>


            {%   endfor     %}

        {%   endif     %}

    {%   endwith     %}

    

    <form action="/guardarAlbum" method="POST">

        <label for="">Titulo</label>
        <input type="text" name="txtTitulo"> 

        <br>
        <br>
        
        <label for="">Artista</label>
        <input type="text" name="txtArtista">

        <br>
        <br>

        <label for="">Año</label>
        <input type="number" min="1000" max="3000" step="1" name="txtYear"/>

        <br>
        <br>

        <button type="submit">Guardar Album</button>

    </form>

    <br><br><br><br><br><br>

    <table>
        <thead> 
            <tr>
                <td> Id </td>
                <td> Album </td>
                <td> Artista </td>
                <td> Año </td>
                <td> Operaciones </td>
            </tr>
        </thead>

        <tbody>
            {%for album in albums%}
                <tr>
                    <td> {{ album.0}} </td>
                    <td> {{ album.1}} </td>
                    <td> {{ album.2}} </td>
                    <td> {{ album.3}} </td>
                    <td> <a href="#">Editar</a> </td>
                    <td> <a href="#">Borrar</a> </td>

                </tr>

            {%endfor%}
        </tbody>
    </table>

</body>
</html>
