<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario Albums</title>
</head>
<body>
    <form action="/guardarAlbum" method="POST">
        <label for="">Titulo</label>
        <input type="text" name="txtTitulo"> 

        <br>
        <br>
        
        <label for="">Artista</label>
        <input type="text" name="txtArtista">

        <br>
        <br>

        <label for="">Año</label>
        <input type="number" name="txtYear">

        <br>
        <br>

        <button type="submit">Guardar Album</button>

    </form>
</body>
</html>